<div>

    <!-- MAIN CONTENT-->
    <div class="main-content">
      <!-- CONTENT-->
      <div class="content">
        <div class="page-login rlp">
          <div class="container">
            <div class="login-wrapper rlp-wrapper">
              <div class="login-table rlp-table">
                <a href="/index"><span class="login-heading">OnTask</span><span class="login-span">version 0.0.1</span></a>
                <p>Please login OnTask system with testing account</p>
                <div class="login-form bg-w-form rlp-form">
                  <div class="row">
                    <div class="form-margin-bottom"><label for="regemail" class="control-label form-label">email <span class="highlight">*</span></label><input id="regemail" type="email" placeholder="" class="form-control form-input">
                      <!--p.help-block Warning !-->
                    </div>
                    <div class="form-margin-bottom"><label for="regpassword" class="control-label form-label">password <span class="highlight">*</span></label><input id="regpassword" type="password" placeholder="" class="form-control form-input">
                      <!-- p.help-block Warning !-->
                    </div>
                  </div>
                </div>
                <div class="login-submit">
                  <button type="submit" id="login" class="btn btn-login btn-green"><span>login</span></button>
                  <button type="button" id="home" class="btn btn-login btn-green"><span>Home</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<script src="/js/login/index.js"></script>
