<!-- views/partials/console.ejs -->

<section class="console-wrap">
  <div>
    <div class="console-heading">
      <i class="fa fa-info-circle" aria-hidden="true"></i><span>Operations History</span>
    </div>
    <div class="grid">
      <div class="grid__cell console-list">
        <!-- <ul>
          <li> system notification / history 1 </li>
          <li> system notification / history 2 </li>
          <li> system notification / history 3 </li>
          <li> system notification / history 4 </li>
        </ul> -->
      </div>
    </div>
  </div>
</section>
