<!-- views/partials/diagram.ejs -->

<section class="main-section">
  <div class="container">
    <div class="row">
      <div>
        <article>
          <div class="tabs tabs_data">
            <div class="float-window-wrap" >
              <div class="float-window" id="float-window-wrap" >

                <div class="float-window-heading" style="display:none">

                </div>

                <div class="float-window-content">

                  <div class="float-window-mask" id="float-window-mask">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                  </div>

                  <div class="">
                      <div id="workflow-small-screen"></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="workflow-big-screen-wrap" id="workflow-big-screen-wrap" style="display:none;">
    <div class="workflow-big-screen">
      <div class="workflow-big-screen-heading">
        <span id="workflow-big-screen-zoomin"><i class="fa fa-search-minus" aria-hidden="true"></i></span>
      </div>
      <div class="workflow-big-screen-content">
        <div class="">
            <div id="workflow-big-screen"></div>
        </div>
      </div>
    </div>
  </div>
</section>
