<footer class="site-footer" itemscope="" itemtype="http://schema.org/WPFooter">
  <div class="wrap">
    <p>Copyright ©&nbsp;2017 OnTask&nbsp; |&nbsp; <a href="https://ontasklearning.org">www.ontasklearning.org</a> </p>

    <div class="footer-small">
      <p>Unless otherwise noted, content on this site is licensed under the Creative Commons Attribution-ShareAlike 4.0 International License. Information on the creative commons license can be found at: <a href="https://creativecommons.org/licenses" target="_blank">creativecommons.org/licenses</a>        and <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">creativecommons.org/licenses/by-sa/4.0</a></p>
    </div>

    <p><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img class="aligncenter wp-image-176 size-full" src="https://www.ontasklearning.org/wp-content/uploads/88x31.png" alt="88x31" width="88" height="31"></a></p>
  </div>
</footer>
