<!-- views/partials/navigation.ejs -->

<section>
  <div class="left-slider" id="slider-bar">

    <div class="content-left-slider">
      <ul class="list-unstyled list-inline nav">
        <li style="display:none">
          <div class="label-title">Workflow</div>
          <i class="fa fa-list-ol" aria-hidden="true"></i>
        </li>
        <li>
          <div class="label-title">Data</div>
          <i class="fa fa-database" aria-hidden="true"></i>
        </li>
        <li>
          <div class="label-title">Matrix</div>
          <i class="fa fa-th" aria-hidden="true"></i>
        </li>
        <li>
          <div class="label-title">Rules</div>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </li>
        <li>
          <div class="label-title">Summary</div>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>
</section>


<script src="/js/socket.js"></script>