<% include ../partials/header %>

<% include ../partials/navigation %>

<% include ../partials/loading %>

<% include ../partials/headerPlaceholder %>

<section class="main-section">
  <div class="container">
    <div class="row">
      <div>
        <article>
          <div class="tabs tabs_data">
            <ul class="horizontal">
              <li id="tab1"><a href="#tab-1">Overview</a></li>
              <li id="tab2"><a href="#tab-2">CSV File Upload</a></li>
              <li id="tab3"><a href="#tab-3">Plugin: Database</a></li>
              <li id="tab4"><a href="#tab-4" style="display:none;">Plugin: Moodle Data</a></li>
              <li id="tab5" style="display:none;"><a href="#tab-5">Plugin: SIS Data</a></li>
              <li id="tab6"><a href="#tab-6">Data Association</a></li>
              <li id="tab7"><a href="#tab-7">Export</a></li>
            </ul>

            <div id="tab-1" style="display: block;">
              <div class="grid">
                <div class="1/3--lap 1/4--desk grid__cell">
                  <div class="grid">
                    <div class="grid__cell">
                      <div class="directory-list" id="data-overview-left-block">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="2/3--lap 3/4--desk grid__cell main-window data-overview">
                  <!-- <div id="ontaskDiagram">
          </div>
          <div>
            <button class="data-clear-button" id="data-clear-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div> -->

                  <div class="data-span" id="data-overview-preview">

                    <div id="data-overview-label">
                      <img class="indicator-img" src="/images/question.png">
                      <!-- <p>Step 1: Prepare "My data" in this workflow. Click "External Data Sources" for available data sets or Use file upload for CSV files.</p>
                      <p>Step 2: Use "Data Association" to import data columns from available data sets to "my data". </p> -->
                    </div>

                  </div>

                  <!--<table id="table_id" class="display">-->

                  <!--</table>-->

                </div>
              </div>
            </div>

            <div id="tab-2" style="display: none;">
              <div class="grid">
                <div class="1/3--lap 1/4--desk grid__cell" style="display:none;">
                  <div class="grid">
                    <div class="grid__cell">
                      <div class="directory-list" id="fileUpload-overview-left-block">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid__cell main-window">
                  <div class="container">
                    <div class="row">
                      <div class="grid">
                        <div class="grid__cell">

                          <!-- <div class="workflow-console-heading">
                  <i class="fa fa-upload" aria-hidden="true"></i>&nbsp; &nbsp;Upload your CSV files
                </div> -->
                          <div class="console-bar">

                            <div class="data-span" id="file-upload-preview" style="height:350px;">
                              <span>Please upload your csv files to show details</span>
                            </div>

                            <br>
                            <div class="console-upload-bar">
                              <form id="uploadForm" enctype="multipart/form-data" class="fileUpload">
                                <div class="grid">
                                  <div class="1/2 grid__cell">
                                    <div class="padding30">
                                      <input type="file" name="uploadFile" id="uploadFile" class="inputfile" accept=".csv">
                                      <label for="uploadFile" id="uploadFileSpan"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; &nbsp; Please choose your CSV file </label>
                                    </div>
                                  </div>
                                  <div class="1/2 grid__cell margin20">
                                    <input type="submit" class="btn btn-green" value="Process Data  &#xf1c0;" id="uploadSubmit" style="display:none" />
                                    <input type="button" class="btn btn-normal" value="&#xf093; &nbsp; Upload CSV " id="uploadCSV">
                                  </div>
                                </div>
                              </form>
                            </div>
                            <br>

                            <!-- <div class="data-table-wrap">
                      <table class="data-table">
                      <thead>
                        <tr>
                          <th>Unique</th>
                          <th>Column Name</th>
                          <th>Rename</th>
                        </tr>
                      </thead>
                      <tbody id="csv-table">

                      </tbody>
                    </table>
                    </div> -->


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div id="tab-3" style="display: none;">
              <div class="container">
                <div class="row">
                  <div class="grid">
                    <div class="grid__cell main-window-no-scroll">
                      <div class="workflow-console-heading">
                        <h3>Connect new databse</h3>
                      </div>
                      <br>

                      <form class="bg-w-form contact-form padding50">
                        <div class="row grid">
                          <div class="1/2 grid__cell">
                            <div class="form-group"><label class="control-label form-label">Host Name <span class="highlight">*</span></label><input type="text" name="host" id="dbHost" class="form-control form-input">
                              <!--label.control-label.form-label.warning-label(for="") Warning for the above !-->
                            </div>
                          </div>
                          <div class="1/2 grid__cell">
                            <div class="form-group"><label class="control-label form-label">User Name <span class="highlight">*</span></label><input type="text" name="user" id="dbUser" class="form-control form-input">
                              <!--label.control-label.form-label.warning-label(for="")-->
                            </div>
                          </div>
                          <div class="1/2 grid__cell">
                            <div class="form-group"><label class="control-label form-label">Password <span class="highlight">*</span></label><input type="password" name="password" id="dbPassword" class="form-control form-input">
                              <!--label.control-label.form-label.warning-label(for="")-->
                            </div>
                          </div>
                          <div class="1/2 grid__cell">
                            <div class="form-group"><label class="control-label form-label">Database Name <span class="highlight">*</span></label><input type="text" name="database" id="dbDatabase" class="form-control form-input">
                              <!--label.control-label.form-label.warning-label(for="")-->
                            </div>
                          </div>
                          <div class="1/2 grid__cell">
                            <div class="form-group"><label class="control-label form-label">Dialect<span class="highlight">*</span></label><select id="dbDialect"><option>mysql</option><option>sqlite</option><option>postgres</option><option>mssql</option></select>
                              <!--label.control-label.form-label.warning-label(for="")-->
                            </div>
                          </div>
                          <div class="1/2 grid__cell">
                            <div class="form-group"><label class="control-label form-label">Port<span class="highlight">*</span></label><input type="text" name="port" id="dbPort" class="form-control form-input">
                              <!--label.control-label.form-label.warning-label(for="")-->
                            </div>
                          </div>
                          <div class="1/2 grid__cell">
                            <div class="form-group"><label class="control-label form-label">Target Table<span class="highlight">*</span></label><input type="text" name="table" id="dbTable" class="form-control form-input">
                              <!--label.control-label.form-label.warning-label(for="")-->
                            </div>
                          </div>
                          <div class="1/2 grid__cell">
                            <div class="form-group"><label class="control-label form-label">schedule<span class="highlight">*</span></label><input type="text" name="schedule" id="dbSchedule" class="form-control form-input">
                              <!--label.control-label.form-label.warning-label(for="")-->
                            </div>
                          </div>

                          <div class="1/2 grid__cell" style="display: none;">
                            <input type="file" name="uploadFilterFile" id="uploadFilterFile" class="upload inputfile">
                            <label for="uploadFilterFile" id="uploadFilterFileSpan"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; &nbsp; Please choose your filter file </label>
                          </div>
                        </div>

                        <div class="contact-submit">
                          <button type="submit" class="btn btn-contact btn-normal" id="dbSubmit"><span><i class="fa fa-plug" aria-hidden="true"></i> &nbsp; &nbsp; Connect Database</span></button>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="tab-4" style="display: none;">
              <div class="grid">
                <div class="grid__cell main-window">
                  <div class="data-span" style="height:350px;">
                    <span>Plugin: Moodle Data (pending)</span>
                  </div>
                </div>
              </div>
            </div>

            <div id="tab-5" style="display: none;"><span>Plugin: SIS Data (pending)</span></div>

            <div id="tab-6" style="display: none;">
              <div class="grid">
                <div class="1/4 grid__cell">
                  <div class="grid">
                    <div class="grid__cell">
                      <div class="directory-list" id="data-association-left-block">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="3/4 grid__cell main-window">
                  <div class="grid">
                    <div class="grid__cell" id="data-association-main">


                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="tab-7" style="display: none">
              <div class="grid">

                <div class="1/3--lap 1/4--desk grid__cell">
                  <div class="grid">
                    <div class="grid__cell">
                      <div class="directory-list" id="export-overview-left-block">

                      </div>
                    </div>
                  </div>
                </div>

                <div class="2/3--lap 3/4--desk grid__cell">
                  <div class="grid">
                    <div class="grid__cell main-window">
                      <div id="export-preview" style="height:350px; overflow-y:scroll;">
                        <!-- <span>Please click left list to show database details</span> -->
                        <ul class="grid">

                        </ul>
                      </div>

                      <div class="export-button">
                        <p><strong>Click the left list to choose export data sets.</strong></p>
                        <button class="btn btn-normal" id="dataExport"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;&nbsp;Export Current Table(Zip)</button>
                        <!-- <button class="btn btn-normal" id="dataExportAll"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;&nbsp;Export All(Zip)</button> -->
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <!-- <div class="grid">
        <div class="grid__cell main-window">
          <div class="export-button">
            <p><strong>Do you want to export meta-data csv files to your local device?</strong></p>
            <button class="btn btn-normal" id="dataExport"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;&nbsp;Export</button>
          </div>
        </div>
      </div> -->

            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="workflow-create-form modal" id="successModal" style="display:none">
    <h3>Upload successfully! &nbsp;<i class="fa fa-check" aria-hidden="true"></i></h3>
    <h4>Congratulations! You have successfully upload your csv files to OnTask system.</h4>
    <div class="workflow-create-form-button-group">
      <button class="btn btn-green" id="confirm-upload">
        <span>Confirm <i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="workflow-create-form modal" id="success-Ajax-Modal" style="display:none;">
    <h3><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Congratulations &nbsp;</h3>
    <h4>You have successfully upload data to OnTask system!</h4>
    <h4>You could choose to continue add new data or go to matrix data.</h4>
    <br>
    <div class="workflow-create-form-button-group">
      <button class="btn btn-green" id="confirm-success">
        <span><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp;Add more data </span>
      </button>
      <button class="btn btn-cancel" onclick="window.location.href = '/matrix'">
        <span><i class="fa fa-table" aria-hidden="true"></i> &nbsp;Go to Matrix Data </span>
      </button>
    </div>
  </div>
</section>

<% /* include ../partials/diagram */ %>

<% /* include ../partials/console */ %>

<section>
  <div class="workflow-create-form modal" id="help-modal" style="display:none" >
    <h3 class="green"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; OnTask help &nbsp;</h3>
    <h4>Step 1: Prepare "Matrix Data" in this workflow. Click "Available Data Source" for available data sets or Use file upload for CSV files.</h4>
    <h4>Step 2: Use "Data Association" to import data columns from available data sets to "Matrix Data".</h4>
    <br>
    <div class="workflow-create-form-button-group">
      <button class="btn btn-green" id="help-finish" onclick="$.modal.close();">
      <span>OK, I got it. <i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="workflow-create-form modal" id="redirect-modal" style="display:none" >
    <h3 class="green"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; OnTask &nbsp;</h3>
    <h4>stay or to matrix!!!!</h4>
    <br>
    <div class="workflow-create-form-button-group">
      <button class="btn btn-green" id="help-finish" onclick="$.modal.close();">
      <span>OK, I got it. <i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/dependencies/jquery-ui.min.js"></script>
<script src="/js/upload.js"></script>
<script src="/js/export.js"></script>
<script src="/js/FileSaver.min.js"></script>
<script src="/js/list.js"></script>
<script type="text/javascript" src="/js/data/index.js"></script>
